@model BrandModel
@{
    ViewData["title"] = "Create Brand";
}


<div class="col-md-9">
    <h3>Tạo thương hiệu</h3>
    <form autocomplete="off" asp-action="Create" enctype="multipart/form-data">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Tên</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea asp-for="Description" class="form-control"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Trạng thái</label>
            <select asp-for="Status" class="form-control">
                <option value="1">Hiển thị</option>
                <option value="0">Ẩn</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" style="border-radius:10px;font-weight:700;"> <i class="fa fa-plus"></i> Tạo</button>
        </div>


    </form>
    <a asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
